.filtr{
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @media screen and (min-width:768px) {
            justify-content: center;
          width: 100%;
          margin-bottom: 40px;
          display: inline-flex  
          }

        @media screen and (min-width:1200px) {
          justify-content: center;
        width: 100%;
        margin-bottom: 50px;
        display: inline-flex  
        }
        
    };

    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color: var(--title-cl);
        border: 1px solid var(--border);
        box-sizing: border-box;
        background: var(--gray-bg);
        border-radius: 4px;
    }

    &__item:not(:last-child) {
        margin-right: 8px;
        @media screen and (max-width:768px) {
           margin-bottom: 15px;  
        }
       
    };

    &__button{@extend .button }

    
}