.servis {
    padding-bottom: 94px;

    &__container {
        @extend .container
    }

    ;

    &__list {
        @include card-set;
    }

    ;

    &__item {
        @include item;
        flex-basis: calc((100% - 3 * 30px) / 3);
        background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
    }

    ;

    &__blok {
        position: relative;
        max-width: 370px;
        height: 294px;
    }

    ;

    &__box {
        display: flex;
        background: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
        position: absolute;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    ;

    &__icon {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: var(--main-title-cl);
        margin-bottom: 0;
    }

    @media screen and (max-width: 1199px) {
        display: none
    }

    ;

    @media screen and (min-width: 1200px) {
        display: blok
    }

    ;
}