:root {
    --mein-text-cl: #757575;
    --main-title-cl: #FFFFFF;
    --title-cl: #212121;
    --link-cl: #2196F3;

    --main-text-cl: 'Roboto', sans-serif;
    --title-text-cl: 'Raleway', sans-serif;

    --blak-bg: #2F303A;
    --gray-bg: #F5F4FA;
    --bg: #E5E5E5;
    --border: #EEEEEE;
    --icon-svg-cl: #AFB1B8;
}