.nav {@include nav;
    

    &__list{display: none;
    
    @media screen and (min-width: 768px) {
        display: inline-flex;
        
    }
    };

    &__item:not(:last-child) {
        margin-right: 50px;};

    &__link-accent {
        position: relative;
        color: var(--link-cl);};
            
    &__link::after {
       content: '';
       position: absolute;
       left: 0;
       bottom: -33px;
       width: 100%;
       height: 4px;
       border-radius: 2px;
       background-color: var(--link-cl);
   };

}

